<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Product Owner Data Heaven{% endblock %}</title>
    <link rel="stylesheet" href="//yastatic.net/bootstrap/3.3.4/css/bootstrap.min.css">
    {#<link rel="stylesheet" href="//rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.css">#}
    {% block css %}
    {% endblock %}
</head>

<body>
{% block containerWrapper %}
    <div class="container">

        {% block container %}
            <div class="page-header">
                <h1><a href="/">Product Owner Data Heaven</a></h1>
            </div>

            {% block content %}
            {% endblock %}
        {% endblock %}

    </div>
{% endblock %}

<script type="text/javascript" src="//yastatic.net/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="/main.js"></script>

{% block javascript %}
{% endblock %}

{#<script type="text/javascript" src="//rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.js"></script>#}
</body>
</html>
