{% extends '_layout.twig' %}

{% block containerWrapper %}
    <div class="container-full">

        {% block content %}
        {% endblock %}

    </div>
{% endblock %}

{% block css %}
    <style type="text/css">
        .container-full {
            margin: 0 auto;
            padding: 1em;
            width: 100%;
        }
    </style>
{% endblock %}
