{% extends '_layout.twig' %}

{% block content %}

<h2>All reports</h2>

<ul>
    {% for r in reports %}
        <li><a href="/report/{{ r.baseName }}">{{ r.name }}</a></li>
    {% endfor %}

</ul>

{% endblock %}
