{% extends '_layout.twig' %}

{% block content %}

    {% if failedReports %}
        <div class="alert alert-warning" role="alert">
            Reports parsing failed:
            <ul>
                {% for report, error in failedReports %}
                    <li><strong>{{ report }}</strong> &mdash; {{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <h2>All reports</h2>

    <ul>
        {% for r in reports %}
            <li><a href="/report/{{ r.baseName }}">{{ r.name }}</a></li>
        {% endfor %}

    </ul>

{% endblock %}
